* {
	padding: 0;
	margin: 0;
}


body {
	background-color: #eeeeee;
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.4em;
}

#list {
	margin: 0 auto;
	width: 520px;
  	background-color: #fff;
  	text-align: center;
  	padding: 20px 30px 20px;
  	box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
}

#list h1 {
	margin: 24px 0px;
	font-size: 36px;
}

#first-input {
	margin: 15px 0 6px;
	width: 500px;
	border: 1px solid #999999;
	line-height: 1.6em;
	font-size: 26px;
	padding: 4px 6px;
	font-style: italic;
}

#instructions {
	margin: 35px auto 20px;
	width: 550px;
	text-align: center;
	color: #777777;
}

#credits {
	width: 550px;
	margin: 27px auto;
	text-align: center;
	color: #777777;
	line-height: 10px;
}

a {
	color: #888;
}

.items {
	list-style: none;
}

.new-item {
	background-color: pink;
}

.line {
	margin: 28px 0 0;
	padding-bottom: 20px;
}

.todos {
	margin-left: 20px;
	font-size: 25px;
}

ul {
	text-align: left;
}

.toggle {
	margin-left: 7px;
}

.first-item {
	border-bottom: 1px solid #cccccc;
}

.items li:last-child {
	border-bottom: none;
}

.line-through {
	text-decoration: line-through;
}

.mark_all {
	margin: 0px 5px 0px 5px;
}

footer {
	width: 580px;
	display: flex;
	margin: 0 auto;
	color: #555555;
	background-color: #f4fce8;
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
   	border-radius: 0 0 5px 5px;
	justify-content: space-between;
}

#counter {
	color: #555555;
	background-color: #f4fce8;
	line-height: 3em;
	margin-left: 20px;
	font-size: 18px;
	display: flex;
	flex-direction: row;
}

#done {
	width: 120px;
	padding: 0 0;
	display: flex;
	align-items: center;
}

#counter_2 {
	margin-right: 10px;
	display: flex;
}

#done button {
	border-radius: 25px;
	padding: 6px 0;
	margin: 0px 21px 0 0;
	width: 90px;
	font-size: 15px;
}

button:focus {
	outline: none;
}